build/*
traces/*
.trace
.coverage*

.vscode

# AI / IDE assistant related
.cursor/
.cursorignore
.codex/
.copilot/
*.ai
.aichat/
.aicode/

# Markdown
*.md

# Config files
**/config.js
ui/src/config.js

# Project files (excluding ui folder)
Move.lock
Move.toml
Published.toml
github-files/
package-lock.json
sources/
tests/